.About {
  background: #FAFAFA;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &_Title {
    padding-left: 10%;
    width: 90%;
    font-size: 32px;
    line-height: 120%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    @include breakpoint(laptop) {
      padding-left: 15%;
      width: 65%;
      line-height: 150%;
    }
  }
}

.Desc {
  background-color: white;
  width: 100%;

  &_Img {
    position: relative;
    width: 80%;
    margin: 0 auto;

    & > img {
      margin-top: -50px;
      width: 100%;
      @include breakpoint(laptop) {
        margin-top: -100px;
      }
    }
  }

  &_Item {
    width: 80%;
    margin: 100px auto;
    @include breakpoint(laptop) {
      margin: 150px auto;
      width: 70%;
    }

    &_Txt {
      width: 90%;
      padding-top: 30Px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 160%;
      @include breakpoint(laptop) {
        width: 70%;
        font-size: 16px;
      }
    }

    & > h2 {
      line-height: 140%;
      font-size: 36px;
      padding-top: 50px;
      font-weight: 700;
      font-family: 'Raleway', sans-serif;
      @include breakpoint(laptop) {
        font-size: 48px;
      }
    }

    &_Som {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;

      & > span {
        width: 10Px;
        height: 10px;
        background-color: red;
      }
    }
  }
}


$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$front: black;
$back: #4d27af;
@-webkit-keyframes ani {
  0% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-shadow: 0 0 0 $back;
    color: $front;
  }

  30% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-shadow: 0 0 0 $back;
    color: $front;
  }

  70% {
    -webkit-transform: translate3d($d,-$d,0);
    transform: translate3d($d,-$d,0);
    text-shadow: -$d $d $back;
    color: $front;
  }

  100% {
    -webkit-transform: translate3d($d,-$d,0);
    transform: translate3d($d,-$d,0);
    text-shadow: -$d $d $back;
    color: $front;
  }
}
@keyframes ani {
  0% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-shadow: 0 0 0 $back;
    color: $front;
  }

  30% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    text-shadow: 0 0 0 $back;
    color: $front;
  }

  70% {
    -webkit-transform: translate3d($d,-$d,0);
    transform: translate3d($d,-$d,0);
    text-shadow: -$d $d $back;
    color: $front;
  }

  100% {
    -webkit-transform: translate3d($d,-$d,0);
    transform: translate3d($d,-$d,0);
    text-shadow: -$d $d $back;
    color: $front;
  }
}

span {
  position: relative;
  display: inline-block;
  -webkit-animation: ani $t infinite alternate $e;
  animation: ani $t infinite alternate $e;
}
