.Who {
  display: flex;
  flex-direction: column;

  &_Container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &_Item {
      overflow: hidden;
      width: 100%;
      height: 50%;
      @include breakpoint(laptop) {
        height: 80%;
        width: 50%;
      }

      &_Txt {
        padding-left: 50px;
        padding-top: 30px;
        font-size: 16px;
        width: 80%;
        line-height: 150%;
        font-family: 'Montserrat', sans-serif;
        @include breakpoint(laptop) {
          font-size: 18px;
        }
      }

      &_Title {
        font-size: 32px;
        font-weight: 500;
        padding-left: 50px;
        padding-top: 25px;
        font-family: 'Raleway', sans-serif;
        @include breakpoint(laptop) {
          padding-top: 50px;
          padding-top: 100px;
        }
      }

      &_Nbr {
        padding-top: 25px;
        padding-left: 50px;
        font-weight: 500;
        color: #fafafa;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        @include breakpoint(laptop) {
          padding-top: 50px;
        }
      }

      &:nth-child(2) {
        background-color: #FAFAFA;
      }

      &:nth-child(3) {
        margin-top: 50Px;
        background-color: #FAFAFA;
        @include breakpoint(laptop) {
          margin-top: 0Px;
        }
      }

      &:nth-child(5) {
        margin-top: 50Px;
        background-color: #FAFAFA;
        @include breakpoint(laptop) {
          margin-top: 0Px;
        }
      }

      &:nth-child(6) {
        background-color: #FAFAFA;
      }
    }
  }
}
