// RESET SCSS
// MIXINS
@import "./global/variables";
@import "./global/reset";
@import "./mixins/breakpoints";
@import "./components/header";
@import "./components/about";
@import "./components/who";
@import "./components/contact";
@import "./components/projets";
@import "./components/article";

// /* FONTS */
  //sass --watch scss/style.scss:css/style.css
// @font-face {
//   font-family: 'kraft_monoregular';
//   src: url('../font/kraftmono-webfont.woff2') format('woff2'), url('../font/kraftmono-webfont.woff') format('woff');
// }
//
// @font-face {
//   font-family: 'kraft_monoitalic';
//   src: url('../font/kraftmono-italic-webfont.woff2') format('woff2'), url('../font/kraftmono-italic-webfont.woff') format('woff');
// }
//
// @font-face {
//   font-family: 'rajdhanisemibold';
//   src: url('../font/rajdhani-semibold-webfont.woff2') format('woff2'), url('../font/rajdhani-semibold-webfont.woff') format('woff');
// }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}
