// RESET SCSS
// MIXINS
@import "./global/variables";
@import "./global/reset";
@import "./mixins/breakpoints";
@import "./components/header";
@import "./components/about";
@import "./components/who";
@import "./components/contact";
@import "./components/projets";
@import "./components/article";
@import "./components/waiting";

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}
