/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before {
  content: '';
  content: none; }

q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.Header {
  height: 80Px;
  width: 100%;
  display: flex;
  transition: all 0.1s ease-out;
  position: fixed;
  z-index: 100000;
  background-color: white; }
  @media (min-width: 1024px) {
    .Header {
      height: 90Px; } }
  .Header_Nav {
    margin: 0 auto;
    height: 100%;
    z-index: 10000;
    display: flex;
    width: 90%;
    justify-content: space-between; }
    .Header_Nav_Home {
      width: 100%;
      height: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center; }
      .Header_Nav_Home_Item {
        width: 30%; }
        .Header_Nav_Home_Item > svg {
          width: 40px; }
      .Header_Nav_Home_Link {
        width: 80%;
        display: none;
        font-size: 16px;
        justify-content: flex-end; }
        @media (min-width: 1024px) {
          .Header_Nav_Home_Link {
            display: flex; } }
        .Header_Nav_Home_Link > a {
          height: 105px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          padding-bottom: 15px;
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          color: black;
          text-align: center;
          transition: all 0.2s ease-out; }
          .Header_Nav_Home_Link > a:nth-child(1) {
            margin-right: 35px; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%; }

body.overflow {
  overflow: hidden; }

/*  BURGER
========================================== */
.burger {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  border-radius: 4px;
  z-index: 10; }
  @media (min-width: 1024px) {
    .burger {
      display: none; } }

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px; }

.burger span,
.burger span::after,
.burger span::before {
  display: block;
  width: 30px;
  height: 4px;
  background-color: black;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.burger span::after,
.burger span::before {
  position: absolute;
  content: ""; }

.burger span::before {
  top: -9px; }

.burger span::after {
  top: 9px; }

.burger.clicked span {
  background-color: transparent; }

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg); }

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg); }

.burger.clicked span:after,
.burger.clicked span:before {
  background-color: black; }

.burger:hover {
  cursor: pointer; }

/*  NAV
========================================== */
nav {
  background-color: #fafafa;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 80%;
  width: 100%;
  padding: 200px 40px 100px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px); }

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1; }

nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s; }

nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s; }

nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s; }

nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s; }

nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s; }

nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s; }

nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s; }

nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s; }

nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s; }

nav.show .about,
nav.show .social,
nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: 0.85s; }

@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px; } }
nav ul.main {
  list-style-type: none; }

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.main li:last-of-type {
  margin-bottom: 0; }

nav ul.main li a {
  color: black;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.main li a span {
  color: #b7ac7f; }

nav ul.main li a:hover {
  opacity: 0.7; }

nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav .about p {
  color: #ffffff;
  font-family: "Spectral", serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%; }

nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #b7ac7f;
  position: absolute;
  bottom: 0;
  left: 0; }

nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px; }

nav .social a:last-of-type {
  margin-right: 0; }

nav .social a:hover svg circle,
nav .social a:hover svg path {
  fill: #b7ac7f; }

nav .social a svg {
  width: 100%;
  height: 100%; }

nav .social a svg circle,
nav .social a svg path {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

nav ul.sub li {
  margin-bottom: 10px; }

nav ul.sub li:last-of-type {
  margin-bottom: 0; }

nav ul.sub li a {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

nav ul.sub li a:hover {
  color: #b7ac7f; }

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #b7ac7f;
  opacity: 0;
  visibility: hidden; }

.overlay.show {
  opacity: 0.8;
  visibility: visible; }

.navbar--hidden {
  transform: translateY(-100%); }

.About {
  background: #FAFAFA;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .About_Title {
    padding-left: 10%;
    width: 90%;
    font-size: 32px;
    line-height: 120%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; }
    @media (min-width: 1024px) {
      .About_Title {
        padding-left: 15%;
        width: 65%;
        line-height: 150%; } }

.Desc {
  background-color: white;
  width: 100%; }
  .Desc_Img {
    position: relative;
    width: 80%;
    margin: 0 auto; }
    .Desc_Img > img {
      margin-top: -50px;
      width: 100%; }
      @media (min-width: 1024px) {
        .Desc_Img > img {
          margin-top: -100px; } }
  .Desc_Item {
    width: 80%;
    margin: 100px auto; }
    @media (min-width: 1024px) {
      .Desc_Item {
        margin: 150px auto 150px;
        width: 70%; } }
    .Desc_Item_Txt {
      width: 90%;
      padding-top: 30Px;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      line-height: 160%; }
      @media (min-width: 1024px) {
        .Desc_Item_Txt {
          width: 70%;
          font-size: 16px; } }
    .Desc_Item > h2 {
      line-height: 140%;
      font-size: 36px;
      padding-top: 50px;
      font-weight: 700;
      font-family: 'Raleway', sans-serif; }
      @media (min-width: 1024px) {
        .Desc_Item > h2 {
          font-size: 48px; } }
    .Desc_Item_Som {
      font-family: 'Raleway', sans-serif;
      font-size: 16px; }
      .Desc_Item_Som > span {
        width: 10Px;
        height: 10px;
        background-color: red; }

.Who {
  display: flex;
  flex-direction: column; }
  .Who_Container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap; }
    .Who_Container_Item {
      overflow: hidden;
      width: 100%;
      height: 50%; }
      @media (min-width: 1024px) {
        .Who_Container_Item {
          height: 80%;
          width: 50%; } }
      .Who_Container_Item_Txt {
        padding-left: 50px;
        padding-top: 30px;
        font-size: 16px;
        width: 80%;
        line-height: 150%;
        font-family: 'Montserrat', sans-serif; }
      .Who_Container_Item_Title {
        font-size: 32px;
        font-weight: 500;
        padding-left: 50px;
        padding-top: 25px;
        font-family: 'Raleway', sans-serif; }
        @media (min-width: 1024px) {
          .Who_Container_Item_Title {
            padding-top: 50px;
            padding-top: 100px;
            font-weight: 700; } }
      .Who_Container_Item_Nbr {
        padding-top: 25px;
        padding-left: 50px;
        font-weight: 500;
        color: #fafafa;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif; }
        @media (min-width: 1024px) {
          .Who_Container_Item_Nbr {
            padding-top: 50px; } }
      .Who_Container_Item:nth-child(2) {
        background-color: #FAFAFA; }
      .Who_Container_Item:nth-child(3) {
        margin-top: 50Px;
        background-color: #FAFAFA; }
        @media (min-width: 1024px) {
          .Who_Container_Item:nth-child(3) {
            margin-top: 0Px; } }
      .Who_Container_Item:nth-child(5) {
        margin-top: 50Px;
        background-color: #FAFAFA; }
        @media (min-width: 1024px) {
          .Who_Container_Item:nth-child(5) {
            margin-top: 0Px; } }
      .Who_Container_Item:nth-child(6) {
        background-color: #FAFAFA; }

.Contact {
  width: 70%;
  margin: 0 auto; }
  .Contact_Contain {
    width: 90%;
    margin: 0 auto;
    display: block; }
    @media (min-width: 1024px) {
      .Contact_Contain {
        justify-content: space-between;
        display: flex; } }
  .Contact_Link {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    width: 100%;
    margin: 0 auto; }
    @media (min-width: 1024px) {
      .Contact_Link {
        width: 40%; } }
    .Contact_Link_Item {
      width: 100%;
      color: black;
      margin: 20px auto;
      height: 100px;
      background-color: #FAFAFA;
      transition: all 0.2s ease-out; }
      .Contact_Link_Item:nth-child(1) {
        margin: 50px auto; }
        @media (min-width: 1024px) {
          .Contact_Link_Item:nth-child(1) {
            margin: 100px auto 50px 0; } }
      .Contact_Link_Item:nth-child(2) {
        margin: 50px auto 100px 0; }
      .Contact_Link_Item > p {
        padding-left: 35px;
        padding-top: 30Px; }
      .Contact_Link_Item:hover {
        color: white;
        background-color: black; }
  .Contact_Item > h3 {
    font-weight: 700;
    padding-top: 100px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif; }
    @media (min-width: 1024px) {
      .Contact_Item > h3 {
        font-size: 48px; } }
  .Contact_Item > p {
    line-height: 150%;
    padding-top: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px; }

.Projets {
  width: 100%;
  height: 100%; }
  .Projets_Title {
    height: 50%;
    align-items: flex-end;
    display: flex;
    font-size: 32Px;
    padding-left: 15%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; }
  .Projets_Container {
    width: 90%;
    margin: 200px auto 100px;
    display: flex;
    justify-content: space-between; }
    .Projets_Container_Left {
      width: 45%; }
      .Projets_Container_Left_Img {
        overflow: hidden;
        width: 100%;
        margin-bottom: 130px;
        height: 200px;
        transition: all 0.2s ease-out; }
        .Projets_Container_Left_Img > img:nth-child(1n) {
          width: 100%; }
        .Projets_Container_Left_Img:hover {
          opacity: 0.9;
          transform: scale(0.97); }
        @media (min-width: 1024px) {
          .Projets_Container_Left_Img {
            height: 310px; } }
    .Projets_Container_Right {
      display: block;
      width: 45%; }
      .Projets_Container_Right_Img {
        overflow: hidden;
        margin-top: 100Px;
        width: 100%;
        height: 260px;
        transition: all 0.2s ease-out; }
        .Projets_Container_Right_Img > img:nth-child(1n) {
          height: 100%; }
        .Projets_Container_Right_Img:hover {
          opacity: 0.9;
          transform: scale(0.97); }
        @media (min-width: 1024px) {
          .Projets_Container_Right_Img {
            height: 440px; } }

.Article {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .Article_More {
    width: 90%;
    margin: 100px auto 50px;
    display: flex;
    flex-wrap: wrap; }
    .Article_More_Img {
      width: 100%;
      overflow: hidden;
      height: 50%;
      margin-bottom: 50px; }
      @media (min-width: 1024px) {
        .Article_More_Img {
          width: 50%;
          margin-bottom: 0px; } }
  .Article_Link {
    width: 90%;
    margin: 0 auto;
    font-size: 18Px;
    font-family: 'Montserrat', sans-serif;
    color: black; }
    @media (min-width: 1024px) {
      .Article_Link {
        width: 70%; } }
    .Article_Link > a {
      text-decoration: none;
      color: black;
      transition: all 0.2s ease-out;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700; }
      .Article_Link > a:hover {
        opacity: 0.7; }
  .Article_Desc {
    width: 90%;
    margin: 100px auto 50px; }
    @media (min-width: 1024px) {
      .Article_Desc {
        width: 70%; } }
    .Article_Desc:nth-child(2n) {
      margin: 0px auto 100px; }
    .Article_Desc_Tech {
      font-size: 18px;
      padding-top: 50px;
      font-family: 'Montserrat',sans-serif; }
    .Article_Desc_Title {
      font-size: 36px;
      font-family: 'Raleway',sans-serif;
      font-weight: 700; }
      @media (min-width: 1024px) {
        .Article_Desc_Title {
          font-size: 48px; } }
    .Article_Desc_Txt {
      padding-top: 50px;
      font-family: 'Montserrat',sans-serif;
      width: 90%;
      font-size: 18px;
      line-height: 170%; }
      @media (min-width: 1024px) {
        .Article_Desc_Txt {
          width: 80%; } }
  .Article_Container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .Article_Container_Txt {
      font-size: 18px;
      padding-bottom: 30px;
      font-family: 'Montserrat', sans-serif;
      padding-top: 60%; }
      @media (min-width: 1024px) {
        .Article_Container_Txt {
          padding-top: 30%; } }
    .Article_Container_Title {
      font-weight: 700;
      font-size: 36Px;
      font-family: 'Raleway', sans-serif;
      padding-bottom: 20%; }
      @media (min-width: 1024px) {
        .Article_Container_Title {
          font-size: 38px; } }
  .Article_Img {
    width: 100%;
    height: 400px;
    overflow: hidden; }
    .Article_Img > img {
      width: 100%; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: black; }

/*# sourceMappingURL=style.css.map */
